{% extends 'sponsor_base.html' %}

{% load static %}

{% block main-body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fa fa-hand-holding-heart"></i> My Sponsorship</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Default box -->
                    <div class="card card-solid">
                        <div class="card-body pb-0">
                            <div class="row">
                                {% if sponsored_families %}
                                {% for family in sponsored_families %}
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill">
                                        <div class="card-header text-muted border-bottom-0">
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>{{ family.family_name }}</b></h2>
                                                    <br>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small"><span class="fa-li"><i
                                                                    class="fas fa-lg fa-building"></i></span> Address:
                                                            {{ family.location }}</li>
                                                        <br>
                                                        <li class="small"><span class="fa-li"><i
                                                                    class="fas fa-lg fa-phone"></i></span> Phone #: 
                                                                    {{ family.contact_address }}</li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    {% if family.images.first %}
                                                    <img src="{{ family.images.first.photo.url }}" alt="family-avatar"
                                                        class="img-circle img-fluid" style="height: 70px; width: 70px;">
                                                    {% else %}
                                                    <img src="{% static 'img/default_family/default.png' %}"
                                                        class="img-fluid" alt="No Image Available"
                                                        style="height: 70px; width: 70px;">
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <h4 class="text-danger text-center"><span class="fa fa-info-circle"></span> <strong>No Sponosred
                                    Family Found!!</strong></h4>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}