{% extends 'sponsor_base.html' %}
{% load static %}

{% block main-body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><i class="nav-icon far fa-envelope"></i> Mailbox</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <!-- New row to properly nest col-md-3 and col-md-9 -->
                    <div class="row">

                        <!-- Main mailbox content -->
                        <div class="col-md-12">
                            <div class="card card-default">
                                <div class="card-body">
                                    <table id="example" class="table table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Index</th>
                                                <th>Message Sender</th>
                                                <th>Message Subject</th>
                                                <th>Timestamp</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for message in messages_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <img src="{{ message.sender.administrator.admin_photo.url }}"
                                                        class="img-circle" style="width: 30px; height: 30px;"
                                                        alt="User Image">
                                                    {{ message.sender.first_name }} {{ message.sender.last_name }}
                                                </td>
                                                <td>
                                                    <a href="{% url 'view-message' %}?message_id={{ message.pk }}&{{ message.sender.first_name }} {{ message.sender.last_name }}">
                                                    {{ message.subject|slice:":37" }}...
                                                    </a>
                                                </td>
                                                <td>{{ message.timestamp|date:"d M Y" }}</td>
                                                <td>
                                                    {% if message.is_read == True %}
                                                    <span class="badge rounded-pill bg-success">Seen</span>
                                                    {% else %}
                                                    <span class="badge rounded-pill bg-danger">Not Seen</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- /.table -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- End of new row -->
                </div>
                <div class="col-lg-1"></div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
{% endblock %}