{% extends 'admin_base.html' %}
{% load static %}

{% block main-body %}
<div class="login-box">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-{{ message.tags }}{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card card-outline">
        <div class="card-header text-center login-logo">
            <a href="{% url 'home-page' %}"><img src="{% static 'img/logo-removebg-preview.png' %}" alt="Hidrina Logo" style="width: 12%">
                <b id="auth_logo_text">Hidrina</b></a>
        </div>
        <div class="card-body login-card-body">
            <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

            <form method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-warning btn-block">Request new password</button>
                    </div>
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a href="{% url 'admin-login' %}">Return to Sign In</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
