{% extends 'admin_base.html' %}

{% load static %}

{% load custom_filters %}

{% block main-body %}

<div class="login-box">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible">
       <span class="fa fa-exclamation-triangle"></span> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="card card-outline">
        <div class="card-header text-center login-logo">
            <a href="{% url 'home-page' %}">
                <img src="{% static 'img/logo-removebg-preview.png' %}" alt="Hidrina Logo" style="width: 12%">
                <b id="auth_logo_text">Hidrina</b>
            </a>
        </div>
        <div class="card-body login-card-body">
            <p class="login-box-msg"><i class="bi bi-1-square-fill"></i> Sign In to continue</p>

            <form method="post" id="auth_form">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username" class="text-danger" id="usernameError" style="display: none;">Username is
                        required</label>
                    <div class="input-group mb-3">
                        <input type="text" name="login_username" id="username" class="form-control"
                            placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="text-danger" id="passwordError" style="display: none;">Password is
                        required</label>
                    <div class="input-group mb-3">
                        <input type="password" name="login_password" id="password" class="form-control"
                            placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>

                {% if request.GET.family_id or request.GET|get_item:'family-id' %}
                <div class="form-group text-center">
                    <hr>
                    <div class="col-12 text-center">
                        <p class="login-box-msg" style="margin: 0;"><i class="bi bi-2-square-fill"></i> Select Payment Method</p>
                    </div>
                    <label for="payment" class="text-danger" id="paymentError" style="display: none;">Payment method is required</label>
                    <div class="col-12 mb-3">
                        <label class="form-check p-2 d-flex align-items-center"
                            style="border: 1px solid #f4e5d7; background-color: #fff8f2; border-radius: 10px; display: block; cursor: pointer; padding-left: 20px;">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="paypalPayment"
                                value="paypal" style="margin-left: 10px; margin-right: 15px; position: static;">
                            <span
                                style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                <span>PayPal</span>
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg"
                                    alt="PayPal Logo" style="height: 24px;" class="ms-auto" />
                            </span>
                        </label>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-check p-2 d-flex align-items-center"
                            style="border: 1px solid #d6e9f9; background-color: #fff8f2; border-radius: 10px; display: block; cursor: pointer; padding-left: 20px;">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="cardPayment"
                                value="card" style="margin-left: 10px; margin-right: 15px; position: static;">
                            <span
                                style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                <span>Cards</span>
                                <div style="margin-right: -24px;">
                                    {% include 'cards_svg.html' %}
                                </div>
                            </span>
                        </label>
                    </div>
                </div>
                {% endif %}

                <div class="form-group text-center">
                    <hr>
                    <div class="col-12 text-center">
                        <p class="login-box-msg" style="margin: 0;"><i class="bi bi-3-square-fill"></i> Human Verification</p>
                    </div>
                    <img src="{{ captcha_image }}" class="mb-2" alt="CAPTCHA Image" id="captcha-image">
                    <input type="text" name="captcha_1" id="captcha" class="form-control mt-2"
                        placeholder="Enter CAPTCHA">
                    <input type="hidden" name="captcha_0" value="{{ captcha_key }}">
                    <label for="password" class="text-danger" id="captchaError" style="display: none;">Human verification is
                        required</label>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-warning btn-block">Sign In</button>
                    </div>
                </div>
            </form>

            <br>

            <p class="mb-1">
                <a href="{% url 'forgot-password' %}">Forgot Username/password?</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}