{% extends 'admin_base.html' %}

{% load static %}

{% block main-body %}

<div class="login-box">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card card-outline">
        <div class="card-header text-center login-logo">
            <a href="{% url 'home-page' %}">
                <img src="{% static 'img/logo-removebg-preview.png' %}" alt="Hidrina Logo" style="width: 12%">
                <b id="auth_logo_text">Hidrina</b>
            </a>
        </div>
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign In to continue</p>

            <form method="post" id="auth_form">
                {% csrf_token %}
                
                <!-- Username Field -->
                <div class="form-group">
                    <label for="username" class="text-danger" id="usernameError" style="display: none;">Username is
                        required</label>
                    <div class="input-group mb-3">
                        <input type="text" name="login_username" id="username" class="form-control"
                            placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Password Field -->
                <div class="form-group">
                    <label for="password" class="text-danger" id="passwordError" style="display: none;">Password is
                        required</label>
                    <div class="input-group mb-3">
                        <input type="password" name="login_password" id="password" class="form-control"
                            placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CAPTCHA Field -->
                <div class="form-group text-center">
                    <!-- CAPTCHA Image -->
                    <img src="{{ captcha_image }}" class="mb-2" alt="CAPTCHA Image" id="captcha-image">
                    
                    <!-- CAPTCHA Input Field -->
                    <input type="text" name="captcha_1" id="captcha" class="form-control mt-2"
                        placeholder="Enter CAPTCHA">
                    <input type="hidden" name="captcha_0" value="{{ captcha_key }}">
                </div>
                

                <!-- Submit Button -->
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-warning btn-block">Sign In</button>
                    </div>
                </div>
            </form>

            <br>

            <p class="mb-1">
                <a href="{% url 'forgot-password' %}">Forgot Username/password?</a>
            </p>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.login-box -->

{% endblock %}
