{% extends 'admin_base.html' %}
{% load static %}

{% block main-body %}
<div class="login-box">
    <div class="card card-outline">
        <div class="card-header text-center login-logo">
            <a href="{% url 'home-page' %}">
                <img src="{% static 'img/logo-removebg-preview.png' %}" alt="Hidrina Logo" style="width: 12%">
                <b id="auth_logo_text">Hidrina</b>
            </a>
        </div>
        <div class="card-body login-card-body">
            <p class="login-box-msg">Please enter your new password below.</p>

            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="password" name="new_password1" class="form-control" placeholder="New password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" name="new_password2" class="form-control" placeholder="Confirm password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success btn-block">Reset Password</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-danger">
                    The password reset link is invalid, possibly because it has already been used. Please request a new password reset.
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'password_reset' %}" class="btn btn-warning btn-block">Request new password</a>
                </div>
            {% endif %}

            <p class="mt-3 mb-1">
                <a href="{% url 'admin-login' %}">Return to Sign In</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
