{% extends 'admin_base.html' %}
{% load static %}

{% block main-body %}
<div class="login-box">
    <div class="card card-outline">
        <div class="card-header text-center login-logo">
            <a href="{% url 'home-page' %}">
                <img src="{% static 'img/logo-removebg-preview.png' %}" alt="Hidrina Logo" style="width: 12%">
                <b id="auth_logo_text">Hidrina</b>
            </a>
        </div>
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                We have sent you an email with instructions to reset your password. Please check your inbox and follow the instructions to complete the process.
            </p>
            
            <div class="text-center mt-3">
                <a href="{% url 'admin-login' %}" class="btn btn-warning btn-block">Return to Sign In</a>
            </div>

            <div class="text-center mt-3">
                <small>If you don't receive the email, please check your spam folder or try again later.</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
