<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Password Retrieval</title>
</head>
<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h4>Account Info Retrieval</h4>
            </div>
            <div class="card-body">
                <p>Hi {{ full_name }},</p>
                <p>Your username & password has been retrieved successfully:</p>
                <p class="bg-light p-3"><strong>Your Username</strong>: {{ username }}</p>
                <p class="bg-light p-3"><strong>Your Password</strong>: {{ password }}</p>
                <p>Thank you!</p>
            </div>
            <div class="card-footer text-muted text-center">
                Hidrina Org
            </div>
        </div>
    </div>
</body>
</html>
