{% extends 'base.html' %}

{% load static %}

{% block main-block %}
<main class="main"></main>

<!-- Page Title -->
<div class="page-title">
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{% url 'home-page' %}">Home</a></li>
                <li class="current">Blog Details</li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->

<!-- Sponsor Section -->
<!-- Sponsor Section -->
<section id="sponsor" class="team section">

  <!-- Section Title -->
  <div class="container section-title animate__animated animate__rollIn">
    <h2><i class="bi bi-person-rolodex"></i> Martyr's Family</h2>
    <p>Choose a family to view detailed information and make a sponsorship commitment.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      {% if page_obj %}
      {% for family in page_obj %}

      <!-- Family Item -->
      <div class="col-xl-2 col-md-6 d-flex mobile-style" data-aos="fade-up" data-aos-delay="100">
            <div class="member card d-flex flex-column justify-content-between" style="height: 100%;">
              {% if family.images.all %}
              <img src="{{ family.images.all.last.photo.url }}" class="img-circle" alt="{{ family.family_name }}"
                style="height: 130px;">
              {% else %}
              <img src="{% static 'img/default_family/default.png' %}" class="img-fluid" alt="No Image Available"
                style="height: 130px;">
              {% endif %}
              <h4>{{ family.family_name|slice:":17" }}{% if family.family_name|length > 17 %}...{% endif %}</h4>
              <span><b>Address: </b>{{ family.location }}</span>
              <!-- Sponsor Button -->
              <div class="d-flex justify-content-center mt-3">
                <a href="#" class="btn btn-success btn-sm me-2" data-bs-toggle="modal"
                  data-bs-target="#familyModal{{ family.id }}">
                  View
                </a>
                <a href="{% url 'family-detail' %}?family-id={{ family.id }}&family-name={{ family.family_name|slugify }}"
                  class="btn btn-warning btn-sm">
                  Sponsor
                </a>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="familyModal{{ family.id }}" tabindex="-1"
            aria-labelledby="familyModalLabel{{ family.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="familyModalLabel{{ family.id }}">{{ family.family_name }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="meta-top">
                      <div class="d-flex flex-wrap justify-content-center" style="padding-bottom: 30px">
                        {% for image in family.images.all %}
                        <div class="m-2">
                          <img src="{{ image.photo.url }}" class="img-fluid rounded" alt="{{ family.family_name }}"
                            style="height: 200px; width: auto" />
                        </div>
                        {% empty %}
                        <div class="m-2">
                          <img src="{% static 'img/default_family/default.png' %}" class="img-fluid rounded"
                            alt="No Image Available" style="height: 200px; width: auto" />
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="content">
                      <p><small><span class="bi bi-person-fill fw-bold"></span><b> Name:</b> {{ family.family_name }}</small></p>
                      <p><small><span class="bi bi-geo-alt-fill fw-bold"></span><b> Address:</b> {{ family.location }}</small></p>
                      <p><small><span class="bi bi-file-person fw-bold"> Gender:</span> {{ family.gender }}</small></p>
                      <p><small><span class="bi bi-info-circle-fill fw-bold"></span><b> Details:</b> {{ family.family_bio }}</small></p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

      {% endfor %}
      {% else %}
      <h4 class="text-center"><span class="bi bi-exclamation-circle text-danger"> No Records of Unsponsored Families
          Found</span></h4>
      {% endif %}

    </div>

  </div>

</section><!-- /Team Section -->

<!-- Pagination -->
<div class="container p-4">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo; Previous</span>
          </a>
        </li>
      {% endif %}

      <!-- Display page numbers -->
      {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

<!-- Page specfic style -->
<style>
    @media (max-width: 767.98px) {
        .mobile-style {
            width: 50%;
            margin-bottom: 10px;
        }
    }
</style>
<!-- End of style -->

</main>
{% endblock %}