{% extends 'super_admin_base.html' %}

{% load static %}

{% block main-body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><span class="fa fa-plus-circle"></span> Add New Family</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <!-- center column -->
                <div class="col-lg-12">
                    <!-- general form elements -->
                    <div class="card card-default">
                        <!-- form start -->
                        <form method="POST" enctype="multipart/form-data" id="create_family_form">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputFullName">Full Name: <code>*</code></label>
                                            <input type="text" class="form-control" name="family_name"
                                                placeholder="Enter full name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Gender: <code>*</code></label>
                                            <select class="form-control" name="gender" required>
                                                <option selected="" disabled="">Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Unknown">Unknown</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputAddress">Address: <code>*</code></label>
                                            <input type="text" class="form-control" name="location"
                                                placeholder="Enter address" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputContact">Family Contact Number:</label>
                                            <input type="text" class="form-control" name="contact_address"
                                                placeholder="Enter contact number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputContact">Bank Account:</label>
                                            <input type="text" class="form-control" name="bank_account"
                                                placeholder="Enter Bank Account">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Family Photos:</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="images"
                                                        accept="image/*" multiple>
                                                    <label class="custom-file-label">Select Images</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputBio">Family Bio: <code>*</code></label>
                                            <textarea class="form-control" rows="10" name="family_bio"
                                                placeholder="Enter family bio..." required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Centered loading spinner styling -->
<style>
    #loadingIndicator {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        /* Ensure it's above other elements */
    }
</style>

<!-- Loading spinner -->
<div id="loadingIndicator">
    <img src="{% static 'img/Spinner-loading.gif' %}" alt="Loading...">
</div>

<!-- Page specfic script -->

<!-- Include SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}