{% extends 'super_admin_base.html' %}

{% load static %}

{% block main-body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><span class="fa fa-user-shield"></span> Create Admin Account</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <!-- center column -->
                <div class="col-lg-10 ">
                    <!-- general form elements -->
                    <div class="card card-default">
                        <!-- form start -->
                        <form method="POST" enctype="multipart/form-data" id="create_admin_account">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputFullName">First Name: <code>*</code></label>
                                            <input type="text" class="form-control" name="first_name"
                                                placeholder="Enter first name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputFullName">Last Name: <code>*</code></label>
                                            <input type="text" class="form-control" name="last_name"
                                                placeholder="Enter last name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputContact">Username:</label>
                                            <input type="text" class="form-control" name="username"
                                                placeholder="Enter contact number">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputContact">Email:</label>
                                            <input type="text" class="form-control" name="admin_email"
                                                placeholder="Enter email address">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Upload Photo: <code>*</code></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" required class="custom-file-input" name="admin_photo"
                                                        accept="image/*" multiple>
                                                    <label class="custom-file-label">Admin Photo</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Centered loading spinner styling -->
<style>
    #loadingIndicator {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        /* Ensure it's above other elements */
    }
</style>

<!-- Loading spinner -->
<div id="loadingIndicator">
    <img src="{% static 'img/Spinner-loading.gif' %}" alt="Loading...">
</div>

<!-- Page specfic script -->

<!-- Include SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}